@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

:root {
  --ff-sans: "Bai Jamjuree", sans-serif;

  /* small screen font-sizes */
  --fs-200: 0.75rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-900: 2.125rem;

  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  --clr-neutral-100: #fff;
  --clr-neutral-200: hsl(202, 11%, 66%);
  --clr-neutral-400: hsl(212, 10%, 33%);
  --clr-neutral-500: rgba(158, 171, 178, 0.1);

  --clr-primary: hsl(171, 66%, 44%);
  --clr-secondary: hsl(233, 100%, 69%);

  --br: 1rem;
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-family: var(--ff-sans);
  font-size: var(--fs-300);
  color: var(--clr-neutral-200);
  line-height: 1.7;
}

/* Typography */

h1,
h2,
h3 {
  color: var(--clr-neutral-400);
}

.section-title {
  font-size: var(--fs-700);
}

.sub-title {
  color: var(--clr-neutral-300);
  max-width: 700px;
  margin: 0 auto;
}

.main-title {
  font-size: var(--fs-800);
}

.text-600 {
  font-size: var(--fs-600);
}

.text-400 {
  font-size: var(--fs-400);
  font-weight: var(--fw-600);
}

/* Utility Classes */

.text-center {
  text-align: center;
}

.split {
  display: flex;
  flex-direction: var(--flex-direction, column);
}

.flow-content > * + * {
  margin-top: var(--flow, 1em);
}

.m-space {
  margin-top: var(--l-space, 4rem);
}

/* General Lay-out */

section,
footer {
  padding: 5rem 0 3rem 0;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.section-track {
  margin-top: 25rem;
}

.track {
  margin: 5em auto;
  padding: 0 1.5rem;
}

.main__header {
  height: 370px;
  background-image: url(/images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main__content {
  padding-top: 5.5rem;
}

.super__logo > * + * {
  --flow: 3em;
  border: solid;
}

/* Footer */
.footer {
  background-color: var(--clr-neutral-500);
}

.footer__logo {
  width: 55px;
}

.social__list {
  --flex-direction: row;
  justify-content: center;
}

.social__list > * + * {
  margin-left: 2.5rem;
}

/* Components */

.btn {
  border-radius: 2rem;
  padding: 1.1875rem 1rem;
  outline: none;
  background-color: var(--accent, var(--clr-primary));
  color: var(--clr-neutral-100);
  width: 100%;
}

.btn-accent {
  --accent: var(--clr-secondary);
}

@media (min-width: 1024px) {
  :root {
    /* Large screen font-sizes */
    --fs-300: 1.125rem;
    --fs-700: 2.25rem;
    --fs-800: 2.875rem;
  }

  .btn {
    width: 20%;
  }

  .split {
    display: flex;
    flex-direction: row;
    justify-content: var(--content, center);
    align-items: center;
  }

  .super__logo {
    --content: space-between;
  }

  .split > * + * {
    margin: 0 0 0 1rem;
  }

  /* General Lay-out */

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .section-track {
    margin-top: 18 rem;
  }

  .track {
    display: grid;
    grid-template-columns: 752px 1fr;
    grid-gap: 6rem;
    translate: -2rem;
    padding: 0;
    max-width: 1440px;
  }

  .track__info {
    align-self: center;
    text-align: left;
    margin: 0;
    max-width: 400px;
    --flow-spacer: 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
  }

  .footer {
    padding: 1rem 0;
  }
}
